<!doctype html>
<html>

<head>
    <title>Titulek</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8; X-Content-Type-Options=nosniff">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="cs">
    <meta http-equiv="Cache-control" content="private">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Jan Oskar Bukovský">

    <link rel="stylesheet" href="files/css/.css">
    <link rel="icon" href="" type="image/gif" sizes="256x256">

    <script src="files/js/.js"></script>
</head>

<body bgcolor="white" id="login">


</body>

</html>